  .topbar {
    position: absolute;
    background-color:rgb(214, 214, 214);
    z-index: 999;
  }

  button{
    margin-right: 10px;
  }
  .icon {
    font-size: 36px;
    margin-right: 10px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .img{
    height: 100px;
    margin-top: 40px;
  }

  mat-icon {
    font-size: 36px;
  }