  .topbar {
    background-color: rgb(164, 139, 73);
  }

  button{
    margin-right: 10px;
  }
  .icon {
    font-size: 36px;
    margin-right: 10px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .img{
    height: 100px;
    margin-top: 40px;
  }